body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:446px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:957px;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:957px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:470px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:18px;
}
#u1071 {
  position:absolute;
  left:39px;
  top:147px;
  width:372px;
  height:18px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:1px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1073 {
  position:absolute;
  left:192px;
  top:175px;
  width:67px;
  height:19px;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1075 {
  position:absolute;
  left:57px;
  top:175px;
  width:12px;
  height:20px;
}
#u1076 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u1078 {
  position:absolute;
  left:57px;
  top:217px;
  width:68px;
  height:68px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1080 {
  position:absolute;
  left:142px;
  top:217px;
  width:77px;
  height:16px;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#66CCFF;
}
#u1082 {
  position:absolute;
  left:142px;
  top:269px;
  width:163px;
  height:16px;
  color:#66CCFF;
}
#u1083 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u1084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1084 {
  position:absolute;
  left:142px;
  top:243px;
  width:197px;
  height:16px;
}
#u1085 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u1087 {
  position:absolute;
  left:57px;
  top:315px;
  width:68px;
  height:68px;
}
#u1088 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1089 {
  position:absolute;
  left:142px;
  top:315px;
  width:77px;
  height:16px;
}
#u1090 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#66CCFF;
}
#u1091 {
  position:absolute;
  left:142px;
  top:367px;
  width:163px;
  height:16px;
  color:#66CCFF;
}
#u1092 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u1093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1093 {
  position:absolute;
  left:142px;
  top:341px;
  width:197px;
  height:16px;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u1096 {
  position:absolute;
  left:57px;
  top:409px;
  width:68px;
  height:68px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1098 {
  position:absolute;
  left:142px;
  top:409px;
  width:77px;
  height:16px;
}
#u1099 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#66CCFF;
}
#u1100 {
  position:absolute;
  left:142px;
  top:461px;
  width:163px;
  height:16px;
  color:#66CCFF;
}
#u1101 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u1102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1102 {
  position:absolute;
  left:142px;
  top:435px;
  width:197px;
  height:16px;
}
#u1103 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:33px;
}
#u1104 {
  position:absolute;
  left:142px;
  top:497px;
  width:161px;
  height:33px;
  text-align:center;
}
#u1105 {
  position:absolute;
  left:0px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1106 {
  position:absolute;
  left:372px;
  top:407px;
  width:20px;
  height:20px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
